# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Model artifacts (gerados)
models/registry/

# Dados processados
data/processed/

# Logs
*.log

# Temporários
*.tmp
*.temp

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db