# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Dados
data/processed/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db